In [8]:
import duckdb

In [9]:
con = duckdb.connect()
con.sql("INSTALL httpfs; LOAD httpfs;")

In [10]:
parquet = 'staging/parquet/duckdb/jawaBarat/jakarta.parquet'
csv = 'staging/csv/duckdb/jawaBarat/jakarta.csv'

In [11]:
minioAuth = {
    'accessKey': 'minioadmin',
    'secretKey': 'miniopassword',
    'bucket': 'data-dapodik-kemendikdasmen',
    'endpoint': 'http://localhost:9000'
}

minioEndPoint = minioAuth['endpoint'].replace('http://', '')

# MinIO Setup for DuckDB
con.sql(f"SET s3_endpoint = '{minioEndPoint}';") 
con.sql(f"SET s3_access_key_id = '{minioAuth['accessKey']}';")
con.sql(f"SET s3_secret_access_key = '{minioAuth['secretKey']}';")
con.sql("SET s3_use_ssl = false;")
con.sql("SET s3_url_style = 'path';")

In [12]:
endpointParquet = f"s3://{minioAuth['bucket']}/{parquet}"
endpointcsv = f"s3://{minioAuth['bucket']}/{csv}"

DUCKDB

In [13]:
try:
    parquetDuckDB = con.sql(f"SELECT Operator from read_parquet('{endpointParquet}')")
    print(parquetDuckDB)
except Exception as e:
    print(f"{e}")

┌────────────────────────┐
│        Operator        │
│        varchar         │
├────────────────────────┤
│ Indrawan Hadi Saputra  │
│ Hafiz Nurul Ikhsan     │
│ Didi Nurhadi           │
│ Chairullah             │
│ Muhammad Andre Anizar  │
│ Arie Gunawan           │
│ Suprayogi              │
│ Yusup Mulyana          │
│ Feqo Putra Ajiansya    │
│ Uki Ismahadi           │
│      ·                 │
│      ·                 │
│      ·                 │
│ Marantika Kenanga Dewi │
│ Diana Layla R          │
│ Dewi Saparyati         │
│ Novy Reyhana           │
│ Yusuf Takbirudin       │
│ Slamet Mulyadi         │
│ Heribertus Rudiyanto   │
│ Syaiful Amri           │
│ Mohammad Firmandaz     │
│ Boby Dwi Andika S.     │
├────────────────────────┤
│  1753 rows (20 shown)  │
└────────────────────────┘

In [14]:
try:
    csvDuckDB = con.sql(f"SELECT Operator FROM read_csv('{endpointcsv}');")
    print(csvDuckDB)
except Exception as e:
    print(f"{e}")

┌────────────────────────┐
│        Operator        │
│        varchar         │
├────────────────────────┤
│ Indrawan Hadi Saputra  │
│ Hafiz Nurul Ikhsan     │
│ Didi Nurhadi           │
│ Chairullah             │
│ Muhammad Andre Anizar  │
│ Arie Gunawan           │
│ Suprayogi              │
│ Yusup Mulyana          │
│ Feqo Putra Ajiansya    │
│ Uki Ismahadi           │
│      ·                 │
│      ·                 │
│      ·                 │
│ Marantika Kenanga Dewi │
│ Diana Layla R          │
│ Dewi Saparyati         │
│ Novy Reyhana           │
│ Yusuf Takbirudin       │
│ Slamet Mulyadi         │
│ Heribertus Rudiyanto   │
│ Syaiful Amri           │
│ Mohammad Firmandaz     │
│ Boby Dwi Andika S.     │
├────────────────────────┤
│  1753 rows (20 shown)  │
└────────────────────────┘